
    input[type='radio'] {
        -webkit-appearance:none;
        width:20px;
        height:20px;
        border:.22rem solid #FF4E00;
        border-radius:50%;
        outline:none;
    }
    input[type='radio']:hover {
        box-shadow:0 0 5px 0px #FF4E00 inset;
    }
    input[type='radio']:before {
        content:'';
        display:block;
        width:50%;
        height:50%;
        margin: 25% auto;    
        border-radius:50%;    
    }
    input[type='radio']:checked:before {
        background:#FF4E00;
    }
    
    label{
        font: normal normal normal 2rem Roboto;
        padding: 0% 0%;
        margin: 0% 2%;
    }

    .MuiPaper-elevation4 {
        box-shadow: 0px , 0px , 0px ; 
    }
    
    .MuiAppBar-root{
        box-shadow: none; 
    }